<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/heckej/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="heckej" />
            <add key="ClearTextPassword" value="cfc965445c2e83629157335b2d605fe431986fda" />
        </github>
    </packageSourceCredentials>
</configuration>